@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = localizer["Title"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer["Info01"] <a asp-page="./Login">@localizer["Info02"]</a>.
</p>
